<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Symptom-Based Disease Diagnosis - Your Health Companion</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylek.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header>
        <div class="logo">Fitme</div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                  <li><a href="/developer">Developer</a></li>
                <li><a href="/blog">Blog</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="hero">
            <h1>Symptom-Based Disease Diagnosis</h1>
            <p>Empowering you with the knowledge to understand your health.</p>
        </section>

        <section class="features">
            <div class="feature">
                <i class="fas fa-user-md"></i>
                <h2>Accurate Predictions</h2>
                <p>Get precise disease predictions based on your symptoms.</p>
            </div>

            <div class="feature">
                <i class="fas fa-info-circle"></i>
                <h2>Comprehensive Information</h2>
                <p>Learn about disease descriptions, precautions, medications, diet recommendations, and workout tips.</p>
            </div>

            <div class="feature">
                <i class="fas fa-graduation-cap"></i>
                <h2>Educational Content</h2>
                <p>Access informative blog posts about various health topics.</p>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Your Health Companion. All rights reserved.</p>
    </footer>
</body>
</html>
