<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meet the Developer - Fitme</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styless.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header>
        <div class="logo">Fitme</div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/developer">Developer</a></li>
                 <li><a href="/bog">Blog</a></li>

            </ul>
        </nav>

    </header>

    <main class="developer-main">
        <h1>Meet the Developer</h1>
        <section class="developer-section">
            <h2>About Disha Mishra and Rishita Kaushik</h2>
            <p>Undergrads pursuing B.Tech in Computer Engineering with specialization in Data Science. Currently exploring various domains of Machine Learning and AI.</p>
        </section>

        <section class="expertise-section">
            <h2> Expertise</h2>
            <p>Tech geek proficient in data structures and algorithms, machine learning, AI, and basics of front-end web development.</p>
        </section>

        <section class="commitment-section">
            <h2>A Commitment to Excellence</h2>
            <p>Our work in "Fitme" is driven by a commitment to excellence and a belief that technology should be accessible and beneficial to everyone. Whether it's developing predictive models, creating intelligent algorithms, or designing user-friendly interfaces, We strive for solutions that are both cutting-edge and user-centric.</p>
        </section>

        <section class="passion-section">
            <h2>Passion for Health Tech</h2>
            <p>The development of "Fitme" represents a convergence of our passion for AI and  dedication to improving healthcare accessibility. we firmly believe that AI has the potential to transform the way we approach healthcare, making it more personalized and informative. This platform is a testament to that vision.</p>
        </section>

        <section class="join-section">
            <h2>Join Me on this Journey</h2>
            <p>We invite you to explore the website and experience firsthand the fusion of AI and healthcare. Together, we can empower individuals with knowledge, promote well-being, and contribute to a brighter and healthier future.</p>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Fitme. All rights reserved.</p>
    </footer>
</body>
</html>
